.section-about {
	/*width: 100%;*/
	/*height: 100%;*/
	/*background-color: #666666;*/
}

/*.section-about .section-background-color {
	background-color: gray;
	opacity: 1;
}*/

.about-body {
	display: flex;
	justify-content: center;
	max-width: 1200px;
	margin: auto;
	/* align-items: center; */
}

.about-body-images {
	height: 75vh;
	max-height: 600px;
	flex: 0 1 600px;
}

.about-body-description {
	padding: 0 25px;
	text-align: left;
	line-height: 25px;
	font-size: 15px;
	flex: 0 1 600px;
}

@media (max-width: 800px) {
	.about-body {
		flex-flow: row wrap;
	}
}