.section-contact {
	/*background-color: #3c3c3c;*/
	background-color: black;
	opacity: .9;
	text-align: center;
	padding-bottom: 50px;
}

.section-contact .title {
	color: white;
}

/*.section-contact .body {
	font-size: calc(1em + .5vw);
	font-weight: normal;
}*/

.section-contact i {
	color: white;
	margin: 15px;
	/*margin: 75px 15px 0px 15px;*/
	font-size: calc(3em + 1vw);
}

.section-contact i:hover {
	color: gray;
}

.section-contact .credits {
/*	font-family: "Montserrat";
*/	color: white;
	/*margin-top: 50px;*/
	margin-top: 25px;
}

.section-contact .credits a {
	color: white;
	text-decoration: none;
}

.section-contact .credits a:hover {
	color: gray;
}