.section-contact {
	/*background-color: #3c3c3c;*/
	background-color: lightgray;
}

.section-contact .body {
	font-size: calc(1em + .5vw);
	font-weight: normal;
	/*color: white;*/
}

.section-contact i {
	color: gray;
	margin: 75px 15px 0px 15px;
	font-size: calc(3em + 1vw);
}

.section-contact i:hover {
	color: white;
}

.section-contact .credits {
/*	font-family: "Montserrat";
*/	color: gray;
	margin-top: 50px;
}

.section-contact .credits a {
	color: gray;
	text-decoration: none;
}

.section-contact .credits a:hover {
	color: white;
}