/*.section-contact {
	background-color: #0f0f0f;
}
*/
.section-footer {
	/*background-color: black;*/
	/* background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
	background-image: linear-gradient(140deg, #355c7d 0%,#6c5b7b 50%,#c06c84 100% );
	padding: 75px 0 50px 0;
}

/*.section-contact .title {
	color: white;
}

.section-contact .body {
	font-size: calc(1.5em + .3vw);
	max-width: 800px;
	color: white;
	padding: 0 10px 50px 10px;
	margin: auto;
	line-height: 1.7em;
}
*/
.section-footer i {
	color: white;
	margin: 0 20px;
	font-size: 2em;
}

.section-footer i:hover {
	color: gray;
}

.section-footer .credits {
	color: lightgray;
	margin-top: 50px;
}

.section-footer .credits a {
	color: lightgray;
	text-decoration: none;
}

.section-footer .credits a:hover {
	color: white;
}