.section-home {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.section-home .section-background {
	background-position: right center;
	background-attachment: fixed;
	opacity: .4;
}

.section-home .section-background-color {
	background-image: linear-gradient(140deg, #355c7d 0%,#6c5b7b 50%,#c06c84 100% );
}

.section-home .greeting {
	color: white;
	margin-top: 15vh;
}

.section-home .greeting h1 {
	font-size: calc(4vh + 4vw);
	text-transform: uppercase;
}

.section-home .greeting h3 {
	font-size: calc(1.5vh + 1.5vw);
	font-weight: normal;
	line-height: 0;
}

.section-home .scroll-down {
	color: lightgray;
}

.section-home .scroll-down i:hover {
	color: white;
	text-shadow: 0 3px 3px gray;
}