.icon {
	margin-right: 10px;
	text-align: center;
	/* max-width: 50px; */
}

/* .icon-image {
	width: 25px;
	filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(224deg) brightness(107%) contrast(107%);
} */

.icon-name {
	font-size: .7em;
	text-transform: uppercase;
	letter-spacing: 1px !important;
	color: gray;
}

.icon-label {
	font-size: 1.2em;
	display: flex;
	align-items: center;
	text-align: left;
}

.icon-label .icon-image {
	margin: 3px 5px;
}