.section-skills {
	/*background-color: pink;*/
}

.skill-body {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 70vw;
	max-width: 1000px;
	margin: auto;
	/*border: 1px solid blue;*/
}

.skill {
	min-width: 90px;
	width: 15vw;
	max-width: 175px;
	min-height: 120px;
	height: 20vw;
	max-height: 175px;
	/*border: 1px solid red;*/
}

.skill-image {
	min-width: 50px;
	width: 7vw;
	max-width: 80px;
	/*border: 1px solid purple;*/
}