.section-skills {
	/*background-color: pink;*/
}

.skill-body {
	max-width: 1200px;
	margin: auto;
}

.icons {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.skill-title {
	font-size: 1.5em;
}

.skill-table {
	display: flex;
	justify-content: space-around;
	text-align: left;
}