.section-skills {
	/*background-color: pink;*/
}

.skill-body {
	max-width: 1200px;
	margin: auto;
}

.icons {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.skill-table {
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
}

.skill-section-title {
	font-size: 1.5em;
	max-width: 200px;
	margin: .5em;
}